.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 5px 0px 0px 5px;
}

.admin-search-bar-1 {
    margin-left: 20px;
}

.admin-search-button {
    cursor: pointer;
    height: auto;
    width: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #1976d2;
    color: #ffffff;
}

.admin-search-button:hover {
    background-color: #114d8a;
}

.admin-search-button:active {
    background-color: #1976d2;
}

@media screen and (max-width: 500px) {
    
}