.menutab-tab-item-btn-click {
    background-color: #0C4DA0;
    color: #ffffff;
}

.menutab-tab-item-btn-click:hover {
    background-color: #0c438b;
    color: #ffffff;
}

.menutab-tab-item-icon-click {
    color: #ffffff;
}

.menutab-subtab-item-btn-click {
    color: #3678cf;
}

.menu-tab-container {
    display: block;
}

.menu-tab-list-item-text-primary {
    font-size: 15px !important;
}