.farm-admin-tab-container-0 {
    margin: 20px;
}

.farm-admin-tab-container-0-1 {
    margin-top: 10px;
    padding: 25px 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.farm-admin-tab-container-0-1-form-control-root {
    max-width: 350px;
}

.farm-admin-tab-container-0-1-btn-root {
    background-color: #0C4DA0 !important;
    text-transform: none !important;
    text-wrap: nowrap !important;
    transition: transform 0.3s ease;
}

.farm-admin-tab-container-0-1-btn-root:hover {
    transform: scale(1.05);
    background-color: #0a3d80 !important;
}

.farm-admin-tab-table-cell-header {
    font-weight: 600 !important;
    font-size: 15px !important;
    color: #376fd0 !important;
    background-color: rgba(55,111,208,0.125) !important;
}

.farm-admin-tab-table-cell-body {
    font-size: 14px !important;
}