.login-form-container {
    padding: 10px;
}

.MuiInputLabel-root {
    font-family: 'IBM Plex Sans' !important;
}

.login-form-title {
    color: #0c4da0;
    font-size: 24px;
    font-weight: 700;
    font-family: 'IBM Plex Sans';
    margin-bottom: 20px;
}

.login-form-text-field {
    margin-bottom: 20px;
}

.login-form-text-field-warning {
    color: red;
    font-size: 13px;
    font-family: 'IBM Plex Sans';
    margin-top: 5px;
}

.login-form-login-btn {
    margin-top: 20px !important;
    font-family: 'IBM Plex Sans' !important;
    background-color: #0c4da0 !important;
}

.login-form-forgot-password-btn {
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'IBM Plex Sans';
    color: #2196F3;
}