.popup-title {
    font-family: 'IBM Plex Sans' !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.popup-modal {
    z-index: 2000 !important;
    font-family: 'IBM Plex Sans';
}

.popup-backdrop-modal {
    z-index: 2000 !important;
}