.add-user-form-button {
    width: 100px;
    color: #ffffff;
}

.add-user-form-button-space {
    width: 15px;
}

.add-user-form-input-bar {
    border-radius: 6px 0 0 6px;
}

.add-user-form-dropdown-btn {
    border-radius: 0 6px 6px 0;
}

.add-user-form-date-picker {
    width: 200px;
}

.add-user-form-input-bar-2 {
    height: 55px;
}